<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./login.css" />
    
    
    <title>Document</title>
</head>
<body>
      <header><h2> Login</h2></header>
     

     <form action="/login" method="post">
     
     <div class="login-form">
   <input type="text" name="name" placeholder="Name" style="border: 1px solid #ccc; padding: 5px; border-radius: 3px;">
<input type="password" name="password" placeholder="Password" style="border: 1px solid #ccc; padding: 5px; border-radius: 3px;">
<input type="submit" style="background-color: #4CAF50; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; border-radius: 3px; cursor: pointer;">

</div>
     

     </form>
     <a href="/signup"> Create a new account</a>
</body>
</html>